<div id="<%= dom_id user %>" class="flex flex-col justify-center gap-2">
  <div class="flex flex-row items-center">
    <div>
      <% if user.avatar.attached? %>
        <div class="gap-2 w-full px-3">
          <%= image_tag user.avatar, class: "inline-block h-10 w-10 rounded-full ring-2 ring-white" %>
        </div>
      <% else %>
        <div class="gap-2 w-full px-3">
          <%= image_tag "default_avatar.jpg", class: "inline-block h-10 w-10 rounded-full ring-2 ring-white" %>
        </div>
      <% end %>
    </div>
    <div class="flex flex-col ">
      <div class="flex flex-row gap-2">
        <h4>Email: </h4>
        <p><%= user.email %></p>
      </div>
      <div class="flex flex-row gap-2">
        <h4>Username: </h4>
        <p><%= user&.username %></p>
      </div>
    </div>
  </div>
  <% unless current_user == user %>
    <% unless current_user.connected?(user) %>
      <%= button_to "Connect", connect_user_path(user), method: :post, class: "btn-primary" %>
    <% else %>
      <%= button_to "Disconnect", disconnect_user_path(user), method: :delete, class: "btn-danger" %>
    <% end %>
  <% else %>
    <div class="mt-4">
      <h2>Connected Users:</h2>
      <ul class="list-outside list-disc">
        <% current_user.all_connections.each do |user| %>
          <li>
            <%= link_to user.email, user %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="justify-self-end">
    <%= link_to "Back", :back, class: "btn-primary" %>
  </div>
  
</div>
